header{
	background: #2c3e50;
	color: #fff;
}
.main{
	background:#34495e;
}

.color1{
	background: #34495e;
	color: #fff;
}

aside{
	background: #C2EDEC;
	color: #0C509D;
}

footer {
	background: #16a085;
	color: #fff;
}
.sub{
	background: #16a085;
}
.sub2{
	background: #A1222A;
	color: #fff;
}
.pie{
	height: 50px;
}